*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    outline: none;
}

#overlay {
    /* TODO : delete this */
    display: none;
    /* end Todo */
    position: fixed;
    inset: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    cursor: pointer;
    text-align: center;
}

#overlay h1{
    position: absolute;
    display: block;
    inset: 50% 0 auto;
    transform: translateY(-50%);
    margin: auto;
    color: white;
}
